/****************
    
    Final Project
    Name: Leum 
    Date: March 17, 2021
    Description:

*****************/

body {
    background: #5a6368;    
}

label {
    display: flow-root;
}

#wrapper {
    width: 700px;
    margin: auto;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    background: #c4c5c0;
}

div.fish_post h2 a, div#header h1 a {
    text-decoration: none;
    color: rgb(30, 39, 19);
}

div#header h1 {
    text-align: center;
    margin-top: 0;
    font-size: 3em;
}

div.fish_post h2 {
    margin-top: 5;
    margin-bottom: 0;
}

div.fish_post p {
    margin-top: 0;
}

ul#menu li {
    display: inline-block;
}

ul#menu li a {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    text-decoration: none;
}

ul#menu {
    padding-left: 0;    
    list-style: none;
    margin-bottom: 4px;
}

ul#menu li a.active {
    border: 2px solid rgb(0, 0, 0);
    background: #519b9b;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul#menu li a:hover {
    background: #1bb449;
    color: black;
}

div#all_blogs {
    border: 2px solid rgb(0, 0, 0);
    padding: 0 10px 10px 10px;
}

h1, h2 {
    font-family: Cambria, times, serif;
}

div.fish_content {
    font-family: Calibri, sans-serif;
}

div.fish_post img{
    vertical-align:middle;
    float:right;
}

div#footer {
    text-align: right;
    margin-top: 10px;
    
}

div#comments{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(24, 24, 24);
    background-color: greenyellow;
}

    div.noprint{
        display:none;
    }
